/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #0056b3;
}

.navbar{
    position: fixed;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    /* color: #fff !important; */
    color: black;
}

.submit{
    margin-right: 0.3rem;
}
/* Hero Section Styles */

.hero-section {
    background-color: #f0f0f0;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.25rem;
}

/* Card Styles */
.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.MiniIcon{
    margin-top: 0;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 50px 0;
}

footer h5 {
    color: #fff;
}

footer ul li {
    list-style: none;
}

/* Form Styles */
.form-control {
    width: 100%;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-light {
    color: #fff;
    border-color: #fff;
}

.btn-outline-light:hover {
    color: #343a40;
    background-color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section {
        padding: 50px 0;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }
}
